<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	


<div id='internContainer'>

	<h3>Add New Employee</h2>

	<form id="createEmployee">
		<div class="form-group">
			<label for="First Name" class="colorBlack">First Name</label>
			<input placeholder="First Name" type="text" id="employeeName" name="name" required>
		</div>
		<div class="form-group">
			<label for="Last Name" class="colorBlack">Last Name</label>
			<input placeholder="Last Name" type="text" id="employeeLast" name="lastName" required>
		</div>
		<div class="form-group">
            <label for="depts" class="colorBlack">Departments</label>
            <select name="department" id="depts" required>
                <option value="" disabled selected>Please select a Department</option>
                <option value="Accounting">Accounting</option>
                <option value="Engineering">Engineering</option>
                <option value="IT">IT</option>
                <option value="Finance">Finance</option>
                <option value="Human Resources">Human Resources</option>
            </select>
        </div>
		<button class="btn" type="submit">Submit</button>
	</form>

	<h3>Employees</h3>
	{{#if employees }}
	<ul id="employee-list">
	{{#each employees }}
		<li id='employeeStyle'><span>{{ this.name }} {{this.lastName}}</span><button class="btn delete" id="{{ this.id }}">X</button></li>
	{{/each }}
	</ul>
	{{else }}
	<p>No employees to display!</p>
	{{/if }}

	<h3>Orders</h3>
	{{#if orders }}

	<h4>Pending Orders:</h4>
	<ul id="order-list" class="order-list list-group">
		{{#each orders }}
		{{#unless this.completed }}
		<li data-id="{{this.id}}" class="list-group-item">
			<span>{{ this.Employee.name }} {{ this.Employee.lastName }}</span> | 
			<span>{{ this.order }}</span> | 
			<span>{{ this.comments }}</span> | 
			<span>{{ this.Employee.department }}</span>
			<button class="btn btn-danger float-right fulfill">ｘ</button>
		</li>
		{{/unless }}
		{{/each }}
	</ul>

	<h4>Completed Orders:</h4>
	<ul class="order-list list-group">
	{{#each orders }}
		{{#if this.completed }}
		<li data-id="{{this.id}}" class="list-group-item">
			<span>{{ this.Employee.name }} {{ this.Employee.lastName }}</span> |  
			<span>{{ this.order }}</span> | 
			<span>{{ this.comments }}</span> | 
			<span>{{ this.Employee.department }}</span>
			<button class="btn float-right delete">ｘ</button>
		</li>
		{{/if }}
	{{/each }}
	</ul>
	{{else }}
	<p>No Orders To display! <a href="orders/create">Create Order!</a></p>
	{{/if }}
</div>

</body>
</html>

