<div id='internContainer'>

	<h3>Add New Employee</h2>

	<form id="createEmployee">
		<div class="form-group">
			<input type="text" id="employeeName" name="name" required>
		</div>
		<div class="form-group">
			<input type="text" id="employeeLast" name="name" required>
		</div>
		<div class="form-group">
            <label for="depts">Departments</label>
            <select name="department" class="browser-default" id="depts" required>
                <option value="" disabled selected>Please select a Department</option>
                <option value="Accounting">Accounting</option>
                <option value="Engineering">Engineering</option>
                <option value="IT">IT</option>
                <option value="Finance">Finance</option>
                <option value="Human Resources">Human Resources</option>
            </select>
        </div>
		<button class="btn" type="submit">Submit</button>
	</form>

	<h3>Employees</h3>
	{{#if employees }}
	<ul id="employee-list">
	{{#each employees }}
		<li id='employeeStyle'><span>{{ this.name }} {{this.lastName}}</span><button class="btn delete" id="{{ this.id }}">X</button></li>
	{{/each }}
	</ul>
	{{else }}
	<p>No employees to display!</p>
	{{/if }}

	<h3>Orders</h3>
	{{#if orders }}

	<h4>Pending Orders:</h4>
	<ul id="order-list" class="order-list list-group">
		{{#each orders }}
		{{#unless this.completed }}
		<li data-id="{{this.id}}" class="list-group-item">
			<span>{{ this.Employee.name }} {{ this.Employee.lastName }}</span> | 
			<span>{{ this.order }}</span> | 
			<span>{{ this.comments }}</span> | 
			<span>{{ this.Employee.department }}</span>
			<button class="btn btn-danger float-right fulfill">ｘ</button>
		</li>
		{{/unless }}
		{{/each }}
	</ul>

	<h4>Completed Orders:</h4>
	<ul class="order-list list-group">
	{{#each orders }}
		{{#if this.completed }}
		<li data-id="{{this.id}}" class="list-group-item">
			<span>{{ this.Employee.name }}</span> |  
			<span>{{ this.order }}</span> | 
			<span>{{ this.comments }}</span> | 
			<span>{{ this.Employee.department }}</span>
			<button class="btn float-right delete">ｘ</button>
		</li>
		{{/if }}
	{{/each }}
	</ul>
	{{else }}
	<p>No Orders To display! <a href="orders/create">Create Order!</a></p>
	{{/if }}
</div>

